@media (width <= 960px) {

    .cvContent {
        display: flex;
        /* width: 60%; */
        /* max-width: 70rem; */
        height: 100%;
        text-align: left;
        align-items:center;
        justify-content: center;
        margin-top: 2rem;
        /* background-color: green; */
        /* outline: 1px solid green; */
    }

    .filmwork {
        outline: 1px solid aqua;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        /* width: 100%; */
        margin-bottom: 2rem;
    }

    .responsibilitiesList {
        height: 15rem;
        /* outline: 1px solid gold; */
    }

    .responsibilitiesList > li {
        padding: 0 2rem 0 2rem;
        /* outline: 1px solid fuchsia; */
    }

    .skills {
        grid-template-areas:
        ". ind ."
        ". des ."
        ". soft ."
        ". gen ."
        ". edu1 ."
        ". edu2 .";
        text-wrap: balance;
        /* max-height: 1000000px; */
        width: 100%;
    }

    .educationList2 {
    margin-top: 1rem;
    }

    .skills > .list {
        /* width: 30ch; */
    }

}


@media (width <= 760px) {

    .cvContent {
        display: flex;
        width: 60%;
        max-width: 70rem;
        height: 100%;
        text-align: left;
        align-items:center;
        justify-content: center;
        margin-top: 2rem;
        /* background-color: green; */
        /* outline: 1px solid green; */
    }

    .filmworkText {
        /* outline: 1px solid aqua; */
        display: grid;
        grid-template-columns: 1fr;
        /* gap: 2rem; */
    }

    .filmwork {
        /* outline: 1px solid aqua; */
        display: grid;
        grid-template-columns: 1fr 1fr;
        /* gap: 2rem; */
    }

    .responsibilitiesList {
        height: 100%;
        width: fit-content;
        margin-bottom: 4rem;
    }

    .skills {
        grid-template-areas:
        ". ind ."
        ". des ."
        ". soft ."
        ". gen ."
        ". edu1 ."
        ". edu2 .";
        text-wrap: balance;
        /* max-height: 1000000px; */
        width: 100%;
    }

    .educationList2 {
    margin-top: 1rem;
    }

    .skills > .list {
        width: 28ch;
    }

    /* .skills{
        display: grid;
    } */

    .designSkillsList {
        line-height: 2.5rem;
    }

    .generalSkillsList {
        line-height: 2.5rem;
    }

}

@media (width <= 400px) {

        .filmwork {
        /* outline: 1px solid aqua; */
        display: grid;
        grid-template-columns: 1fr;
        /* gap: 2rem; */
    }

}