
@media (width <= 760px) {
    .aboutContent {
        /* grid-template-columns: 1fr; */
        /* grid-template-rows: 1fr; */
        /* gap: 1rem; */
        align-items: start;
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        max-width: 34ch;
    }

    .aboutContent article{
        margin: 0 0 3rem 0;
        max-width: 22rem;
    }

    .Portrait {
        /* outline: 1px solid black; */
        /* max-width: clamp(); */
        max-height: 22rem;
        width: 100%;
        grid-column: 1;
        justify-self: center;
    }

    .aboutContent > p {
        grid-column: 1;
        justify-self: center;
        /* margin: 0; */
        /* align-self: start; */
    }
}

@media (width <= 400px) {
    .aboutContent article {
        margin: 0 1.5rem 0 1.5rem;
    }
}