@media (width <= 960px) {

}


@media (width <= 760px) {
    .projectTitleRight {
        font-size: 1.5rem;
    }
    .projectTitleLeft {
        font-size: 1.5rem;
    }
    .project {
    max-height: 10rem;
    }
    .project > .card-container {
    max-height: 10rem;
    }  
    .project > .card-container > img {
    height: 10rem;
    }
    .GalleryContent {
    gap: 1rem;
    }
    .GalleryContent:first-child {
    margin-top: 1rem;
    }
    .GalleryContent:last-child {
    margin-bottom: 1rem;
    }
}