:root {
    --time1: 1s;
}

/* __________ Footer __________ */

.footerYes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    align-items: center;
    justify-items: center;
    background-color: #FFFFFF;
    /* background-color: #4F90CB; */
    /* outline: 2px dashed lightseagreen; */
    position: sticky;
    /* margin-top: auto; */
    height: 5rem;
    width: 100%;
    bottom: -5rem;
    border-top: 2px solid black;
    transition: all var(--time1);
}

.footerNo {
    display: none;
}


.footerItemYes {
    width: 8rem;
    text-align: center;
    transition: all var(--time1);
    /* background-color: red; */
}

.footerItemNo {
    display: none;
}